	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<script src="https://apis.google.com/js/platform.js" async defer></script>

<div class="share-page">
	Share this article: <a href="https://twitter.com/share" 
		class="twitter-share-button"
		data-via="{{ site.twitter }}"
		data-text="{{ page.title }}"
		data-count="none"
		rel="nofollow"
		style="vertical-align: bottom">Tweet</a>

	<a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
	rel="nofollow"><button class="facebook-share"><img src="/images/Facebook logo small.png" style="vertical-align: text-top;" /> Facebook</button></a>
<a href="//www.reddit.com/submit" onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"> <img src="//www.redditstatic.com/spreddit7.gif" alt="submit to reddit" border="0" 
	rel="nofollow" /> </a>
<div class="g-plus" data-action="share" data-height="15" data-annotation="none"></div>
    
</div>


